<!DOCTYPE html>
 <html lang="de">
 <head>
   <meta charset="UTF-8">
   <title>Dein Account auf openSenseMap wurde gelöscht</title>
 </head>
 <body>
  <p>Hallo {{ .user.name }},</p>
  <p>Dein Account und alle deine senseBoxen wurden gerade gelöscht. Schade, dass du dich gelöscht hast!<p>
  <p>Dieser Vorgang ist endgültig. Wenn du gerne wieder teilnehmen möchtest, kannst du dich einfach auf <a href="https://opensensemap.org/" target="_blank">https://opensensemap.org/</a> neu registrieren.
  <p>Wenn Du Fragen hast schreib uns eine Mail an: <a href="mailto:support@sensebox.de" target="_top">support@sensebox.de</a>.</p>
  <p>Tschüss,<br />dein senseBox Team</p>
 </body>
</html>

