<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your senseBox registration</title>
</head>
<body>
  <p>Hello {{ .user.name }},</p>
  <p>your senseBox "{{ .box.name }}" is now registered at openSenseMap! 🎉 Thank you very much for contributing!</p>
  <p>You can view your senseBox at this location:<br /><a href="{{ .origin }}/explore/{{ .box._id }}" target="_blank">{{ .origin }}/explore/{{ .box._id }}</a></p>
  <p>Please note your personal <strong>Arduino Sketch</strong> in the attachment of this mail. If you have registered a senseBox with WiFi-Bee make sure you set your WiFi credentials in the arduino sketch, so your senseBox can connect to the internet. You can find further instructions <strong><a href="https://en.docs.sensebox.de/sensebox-home/home-schritt-1/" target="_blank">here</a></strong> in the "First steps" of our senseBox:home book.</p>
  <p>If you have any questions, feel free to write us an email to: <a href="mailto:support@sensebox.de?Subject=Help%20me%20with%20my%20senseBox&body=Please%20include%20your%20senseBox-ID%20({{ .box._id }})%20in%20every%20message.%20Thank you!" target="_top">support@sensebox.de</a>.</p>
  <p>The senseBox team wishes you a lot of fun with your new senseBox</p>
</body>
</html>
