<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>Deine senseBox Registrierung</title>
</head>

<body>
  <p>Hallo {{ .user.name }},</p>
  <p>deine senseBox mit dem Namen "{{ .box.name }}" ist nun auf der openSenseMap angemeldet! 🎉 Vielen lieben Dank, dass
    du dich am Projekt beteiligst.</p>
  <p>Du findest deine Station auf der openSenseMap unter dieser Adresse:<br /><a
      href="{{ .origin }}/explore/{{ .box._id }}" target="_blank">{{ .origin }}/explore/{{ .box._id }}</a></p>
  <p>Im Anhang befindet sich dein persönlicher <strong>Arduino Sketch</strong>. Falls du eine senseBox mit WiFi-Bee
    registriert hast, denke unbedingt daran dein WiFi-Netzwerknamen und das Passwort in den Arduino Sktech einzufügen,
    damit sich deine senseBox mit dem Internet verbinden kann. Eine Anleitung wie es damit weitergeht, findest du
    <strong><a href="https://docs.sensebox.de/sensebox-home/home-schritt-1/" target="_blank">hier</a></strong> in der
    Dokumentation.</p>
  <p>Wenn Du Fragen hast schreib uns eine Mail an: <a
      href="mailto:support@sensebox.de?Subject=Hilfe%20bei%20der%20Einrichtung&body=Bitte%20bei%20jeder%20Anfrage%20die%20senseBox-ID%20({{ .box._id }})%20mit%20angeben.%20Danke!"
      target="_top">support@sensebox.de</a>.</p>
  <p>Viel Spaß wünscht dein senseBox Team</p>
</body>

</html>