<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>Deine Registrierung auf der openSenseMap</title>
</head>

<body>
  <p>Hallo {{ .user.name }},</p>
  <p>vielen Dank für die Registrierung deines Feinstaubsensors "{{ .box.name }}" auf der openSenseMap! 🎉 Damit deine
    Daten auch die openSenseMap erreichen, musst du noch deinen Feinstaubsensor konfigurieren. Eine Anleitung findest du
    unter <a href="https://docs.sensebox.de/opensensemap/opensensemap-luftdaten/"
      target="_blank">https://docs.sensebox.de/opensensemap/opensensemap-luftdaten/</a>.
    Vielen lieben Dank, dass du dich am Projekt beteiligst.</p>
  <p>Deine senseBox-ID lautet: <b>{{ .box._id }}</b></p>
  <p>Du findest deine Station auf der openSenseMap unter dieser Adresse:<br /><a
      href="{{ .origin }}/explore/{{ .box._id }}" target="_blank">{{ .origin }}/explore/{{ .box._id }}</a></p>
  <p>Wenn Du Fragen hast schreib uns eine Mail an: <a
      href="mailto:support@sensebox.de?Subject=Hilfe%20bei%20der%20Einrichtung&body=Bitte%20bei%20jeder%20Anfrage%20die%20senseBox-ID%20({{ .box._id }})%20mit%20angeben.%20Danke!"
      target="_top">support@sensebox.de</a>.</p>
  <p>Viel Spaß wünscht dein senseBox Team</p>
</body>

</html>