<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your new Sketch</title>
</head>
<body>
  <p>
    Hi {{ .user.name }},
  </p>
  <p>
    you've just changed your model or sensors of your weatherstation on the openSenseMap. You will find the new sketch in the attachment of this mail.
  </p>
  <p><b>Attention!</b></p>
  <p>
    The in the attachment is in an untreated state. This means:
  </p>
  <ul>
    <li>Your network settings like wifi or ethernet configurations have to be taken over from your old sketch.</li>
	<li>Every change you've made to include other sensors have to be taken over from your old sketch.</li>
	<li>The sketch does not contain other changes you've made!</li>
  </ul>
  <br />
  <p>Your senseBox ID is: {{ .box._id }}</p>
  <p>In addition, the following IDs were generated for the sensors of your station:</p>
  <ul>{{ range .box.sensors }}
      <li>{{ .title }} ({{ .sensorType }}): {{ ._id }}</li>
  {{ end }}</ul>
  <p>
    If you have any questions write us an email to: <a href="mailto:support@sensebox.de?Subject=New%20Sketch" target="_top">support@sensebox.de</a>
  </p>
  <p>
    The senseBox team wishes you a lot of fun with your new senseBox
  </p>
</body>
</html>
