<!DOCTYPE html>
 <html lang="de">
 <head>
   <meta charset="UTF-8">
   <title>Deine Nutzerregistrierung auf openSenseMap</title>
 </head>
 <body>
   <p>
     Hallo {{ .user.name }},
   </p>
   <p>
     danke für deine Registrierung auf der openSenseMap! Du findest dein Profil unter <a href="{{ .origin}}/account">{{ .origin}}/account</a>. Hier kannst du neue senseBoxen anlegen und deine Daten bearbeiten.
   </p>
   <p>
     Bitte bestätige außerdem deine E-Mail Adresse. Klicke einfach auf diesen <a href="{{ .origin }}/account/confirm-email?email={{ .email }}&token={{ .token }}" target="_blank">Link</a>.
	 <br />
	 Wenn sich der Link nicht anklicken lässt, kannst du auch diese Adresse mit deinem Browser öffnen:
	 <br />
	 {{ .origin }}/account/confirm-email?email={{ .email }}&token={{ .token }}
   </p>
   <p>
     Bitte antworte nicht direkt auf diese Mail. Falls du Fragen oder Anmerkungen hast schreibe uns gerne eine Nachricht an <a href="mailto:support@sensebox.de?Subject=Nutzer%20Registrierung%20{{ .email }}" target="_top">support@sensebox.de</a>.
   </p>
   <p>
     Dein<br />senseBox Team
   </p>
 </body>
</html>