<!DOCTYPE html>
 <html lang="de">
 <head>
   <meta charset="UTF-8">
   <title>Deine Nutzerregistrierung auf openSenseMap</title>
 </head>
 <body>
   <p>
     Hallo {{ .user.fullname }},
   </p>
   <p>
     danke für deine Registrierung auf der openSenseMap! Du kannst das Profil mit deinen Logindaten bearbeiten oder löschen.
   </p>
   <p>
     Bitte antworte nicht direkt auf diese Mail. Falls du Fragen oder Anmerkungen hast schreibe uns gerne eine Nachricht an <a href="mailto:support@sensebox.de?Subject=Nutzer%20Registrierung" target="_top">support@sensebox.de</a>.
   </p>
   <p>
     Dein<br />senseBox Team
   </p>
 </body>
</html>