<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your openSenseMap password reset</title>
</head>
<body>
  <p>
    Hi {{ .user.name }},
  </p>
  <p>
    Someone has requested a link to change your password. You can do this by clicking the link below.
  </p>
  <p>
    <a href="{{ .origin }}/account/password-reset?token={{ .token }}" target="_blank">Reset password</a>
    <br />
    If you are unable to click the link, you can also open this address with your web browser:
    <br />
    {{ .origin }}/account/password-reset?token={{ .token }}
    <br />
    This link is valid for 12 hours.
  </p>
  <p>
    If you didn't request this, please ignore this email.
  </p>
  <p>
    Your password won't change until you access the link above and create a new one.
  </p>
  <p>
    If you have any questions, feel free to write us an email to: <a href="mailto:support@sensebox.de?Subject=Password%20Reset%20for%20{{ .user.email }}" target="_top">support@sensebox.de</a>
  </p>
  <p>
    Best wishes<br />your senseBox Team
  </p>
</body>
</html>
