<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Passwort Zurücksetzen openSenseMap</title>
</head>
<body>
  <p>
    Hallo {{ .user.name }},
  </p>
  <p>
    Jemand hat ein Zurücksetzen deines Passworts angefordert. Du kannst dein Passwort zurücksetzen, indem du auf den Link unten klickst.
  </p>
  <p>
    <a href="{{ .origin }}/account/password-reset?token={{ .token }}" target="_blank">Passwort zurücksetzen</a>
    <br />
    Wenn sich der Link nicht anklicken lässt, kannst du auch diese Adresse mit deinem Browser öffnen:
    <br />
    {{ .origin }}/account/password-reset?token={{ .token }}
    <br />
    Dieser Link ist insgesamt 12 Stunden gültig.
  </p>
  <p>
    Falls du kein neues Passwort angefordert hast, ignoriere diese E-Mail.
  </p>
  <p>
    Dein Passwort wird sich nicht änden bevor du auf den Link geklickt hast und dort ein neues vergeben hast.
  </p>
  <p>
    Wenn Du Fragen hast schreib uns eine Mail an: <a href="mailto:support@sensebox.de?Subject=Password%20Zur%C3%BCcksetzen%20f%C3%BCr%20{{ .user.email }}" target="_top">support@sensebox.de</a>
  </p>
  <p>
    Viele Grüße,<br />dein senseBox Team
  </p>
</body>
</html>
